body{
    background-color: #b2bec3;
}

.container{
    background-color: #dfe6e9;
}


h1,h2{
    font-family: 'Mouse Memoirs';
    text-align: center;
}

p{
    font-family: 'Courier New';
    text-align: left;

}

.icon img {
    max-height:45px;
    border-radius: 100%

}

img{
    max-height: 300px;
    max-width: 300px;
}