 * {
    font-family: 'Press Start 2P';
 }
 
 .img_vs {
    max-width:2.2%

 }

 .img_ghibli {
    max-width:15%;

}

.img_disney {
    max-width:80px;
}

.Instruções{
    font-family: 'Mouse Memoirs', sans-serif;
}